@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('./plans.css');
@import url('./nav.css');
@import url('./hero.css');
@import url('../materialize/css/materialize.min.css');
@import url('./latestProject.css');
@import url('./Testimonials.css');
@import url('./footer.css');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
h1{
    line-height: 100%;
    margin: 0 !important;
}
.maincolour{
    background: #F7F1E4;
}
.cus1-button{
    border: 1px solid green;
    border-radius: 10% 5%;
    list-style:none;
    padding: 0 !important;
}
.brown-text{
    font-family: questrial,sans-serif !important;
    font-size: x-large;
    line-height: 1.4 !important;
    min-height: 0vw !important;
}
.cube{
    height: 40vh;
}