#Testimonials header{
    padding-top: 3rem;
}
#Testimonials{
    background: #F7F1E4;
    height: 100%;
}
.box{
    border-radius: 50px;
    height: 100%;
}
.googleads{
    padding: 2%;
    margin: 0 1rem;
    background: #fff;
    border-radius: 20px;
}